body {
	font: 12pt sans-serif;
	line-height: 1.5;
}
body, input {
	color: #333;
}
a {
	color: #3376d2;
}
a:hover:not('.button') {
	color: #006deb;
}
#output {
	font: 9.5pt 'Inconsolata', monospace;
	white-space: pre;
	margin-top: 5pt;
	padding: 8pt;
	padding-right: 5vw;
	max-width: 100%;
	display: inline-block;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 21em;
	scroll-behavior: smooth;
	background: white;
}
#output, input {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgb(89 105 128 / 10%), 0 1px 3px 0 rgb(89 105 128 / 10%), 0 1px 2px 0 rgb(0 0 0 / 5%);
}
input {
	font: 10.5pt sans-serif;
	padding-left: 5pt;
	outline: none;
	min-width: 2.5em;
}
.refresh span {
	margin-right: 0.5em;
}
.refresh input {
	margin-right: 1.25em;
}
input:focus {
	border-color: #333;
}
.button {
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	font-size: 80%;
	display: inline-block;
	padding: 4pt 20pt;
	background: #3376d2;
	color: white;
	display: flex;
	align-items: center;
}
.button:hover {
	background: #006deb;
}
.refresh {
	display: flex;
	margin: 1em 18pt;
}
.refresh span {
	display: flex;
	align-items: center;
}
.links li div {
	display: inline-block;
}